{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
<article class="blog">
    <header>
        <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
        <h2>{{ blog.title }}</h2>
    </header>
    <img class="lazy" src="{{ asset("images/ajax-loader.gif") }}"  data-src="{{ asset(['images/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large" />
    <div>
        <p>{{ blog.blog }}</p>
    </div>
</article>
<section class="comments" id="comments">
    <section class="previous-comments">
        <h3>Comments</h3>
            {% include 'BloggerBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
    </section>
    <h3>Add Comment <img class="comment-loader" src="{{ asset("images/ajax-loader.gif") }}" />  </h3>
       {{ render(controller( 'BloggerBlogBundle:Comment:new', { 'blog_id': blog.id } )) }}
</section>

<script>
    $(document).ready(function() {
        var ajax_comment = "";
        $("ajax_send_comment").on("click", function() {
            ajax_comment = $.ajax({
                url: "{{ path('BloggerBlogBundle_comment_create', { 'blog_id' : blog.id } ) }}",
                data: {user: $("#comment_form input[type='text']").val(), comment: $("#comment_form textarea").val()},
                dataType: "json",
                success: function(data,status,xhr){
                    
                }
            });
        });
    });
</script>
{% endblock %}